package metadatas

templ Head() {

<head>
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  <script src="/static/js/htmx.min.js" defer></script>
  <script src="/static/js/bundle.js" defer></script>
</head>
}
