package components

templ Index(name string) {
<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
</head>

<body>
  <h1 class="text-blue-400">Welcome, {name}</h1>

  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/bundle.js"></script>
</body>

</html>
}
